<div class='col-4'>
  Logo
</div>
<div class='col-4'><
  {{shopping-header/lists}}
</div>
<div class='col-4'>
  {{shopping-header/cart
    cartItems=cartItems
    purchaseCart=purchaseCart
  }}
</div>

<div class='col-12'>
  {{shopping-header/search-box}}
</div>

